body {
  font-size: 10px;
}

div.area {
  border: solid 1px #eeddee;
  overflow-y: auto;

  & > p {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul > li {
    margin: 2px 3px;
  }
}

.nopadding {
  padding: 0;
}

div#producers {

  ul > li {
    cursor: pointer;
  }

}

div#shopping-list {

  ul > li {
    cursor: -webkit-grab; cursor: -moz-grab;
  }

}

div.show-related, div.delete {
  cursor: pointer;
  background-color: #fafafa;
}

.sortable-placeholder {
  border: solid 1px red;
  background-color: yellow;
  background-image: url('../static/images/triangle.png');
  background-position: left;
  background-repeat: no-repeat;
}

.card {
    border: solid 1px #ddeeee;
    background-color: #faffff;
}

.related {
  border: solid 1px red;
  background-color: pink;
}