$storage-area-border: solid 1px #ddeedd;
$storage-list-card-color: #343838;
$storage-list-card-bg-color: #faffff;
$storage-list-card-border: solid 1px #ddeeee;

$building-bg-color: #FFF1E6;
$building-border-color: #FF9D4C;
$building-border: solid 1px $building-border-color;

$done-bg-color: #EAFDE4;
$done-border-color: #47C61F;
$done-border: solid 1px $done-border-color;

$controls-border-radius: 2px;

$todo-list-area-border-color: $storage-area-border;

body {
  font-size: 10px;
  font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

div.main {
  margin-left: 2px;
  margin-right: 2px;
}

.nopadding {
  padding: 0;
}

.area {
  margin-left: 1px;
  margin-right: 1px;
}

p.name {
  margin-bottom: 0;
  margin-left: 2px;
}

#storage {
  // display: table;
}

// #storage .a1 {
//   display: table;
//   border: solid 1px red;
//   background-color: green;
// }

#storage .area {
  border: $storage-area-border;
  // display: table-row;
  // height: 100%;
}

#work {
  margin-top: 4px;
}

#producer-list, #shopping-list, #todo-list .area{
  overflow-y: auto;
}

#producer-list.area {
  border: $storage-area-border;
}

.producer {
  margin-top: 2px;
}

.producer > p {
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  background-color: darken($storage-list-card-bg-color, 7);
}
// .producer:first-of-type p {
//   margin-top: 0;
// }

#shopping-list.area {
  border: $storage-area-border;
}

#shopping-list .card {
  cursor: -webkit-grab; cursor: -moz-grab;
}

#todo-list .area {
  border: $todo-list-area-border-color;
}

div.card {
  margin: 2px;
  padding: 1px;
}

#storage div.card {
  color: $storage-list-card-color;
  border: $storage-list-card-border;
}

#producer-list div.card {
  color: $storage-list-card-color;
  background-color: $storage-list-card-bg-color;
  border: $storage-list-card-border;
  cursor: pointer;
}

.blocked {
  color: #555555;
  background-color: #f7f7f7;
  border: solid 1px #cccccc;
}

.unblocked {
  color: #b56d6e;
  background-color: #FFE6E6;
  border: solid 1px #FFADAD;
}

.building {
  color: #FF9D4C;
  background-color: $building-bg-color;
  border: $building-border;
}

.done {
  color: #47C61F;
  background-color: $done-bg-color;
  border: $done-border;
}

.sortable-placeholder {
  border: solid 1px red;
  background-color: yellow;
  background-image: url('../static/images/triangle.png');
  background-position: left;
  background-repeat: no-repeat;
}

.building-controls, .amount-controls {

  float: left;
  // font-size: 12px;

  img {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }

  img.minus {
    margin-right: 2px;
  }

}

.building-controls {
  background-color: lighten($building-bg-color, 10);
  border: solid 1px lighten($building-border-color, 25);
  border-radius: $controls-border-radius;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.amount-controls {
  background-color: lighten($done-bg-color, 10);
  border: solid 1px lighten($done-border-color, 45);
  border-radius: $controls-border-radius;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

/*
.card {
  border: solid 1px $card-border-color;
  background-color: $card-bg-color;
  margin: 2px;
  padding: 1px;

  &:first-of-type {
    // Prevent jumping when the related button is pressed
    margin-top: 1px;
  }
}

div.storage-area {
  border: solid 1px #ddeedd;
  overflow-y: auto;
  margin-left: 1px;
  margin-right: 1px;

  & > p {
    margin-bottom: 0;
  }
}

div.storage-area {

  .controls, .amount {
    float: left;
  }

  .controls img {
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

  .amount {
    margin-left: 5px;
    font-size: 12px;
  }

}

.positive {
  color: green;
}

.negative {
  color: red;
}

div.worklist-area {
  margin-top: 4px;
  border: solid 1px #eeddee;
  overflow-y: auto;
  margin-left: 1px;
  margin-right: 1px;

  & > p {
    margin-bottom: 0;
  }
}

.nopadding {
  padding: 0;
}

div#producers {

  .producer {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  div.card {
    cursor: pointer;
  }

}

div#shopping-list {

  div.card {
    cursor: -webkit-grab; cursor: -moz-grab;
  }

}

.blocked {
  border-color: #bbbbbb;
  background-color: #f7f7f7;
}

.unblocked {
  border-color: #FF9D4C;
  background-color: #FFF1E6;
}

.done {
  border-color: #47C61F;
  background-color: #EAFDE4;
}

div.related-but {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url('../static/images/related.png');
  background-repeat: no-repeat;
  background-position: right;
  border: 1px solid #dedede;
}

div.delete-but {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url('../static/images/delete.png');
  background-repeat: no-repeat;
}

.sortable-placeholder {
  border: solid 1px red;
  background-color: yellow;
  background-image: url('../static/images/triangle.png');
  background-position: left;
  background-repeat: no-repeat;
}

// TODO: Can be deleted, I think
.related {
  border: solid 1px red;
  background-color: lighten(red, 70);
}

$base-border-color: #563272;
$base-bg-color: lighten(#E3DAEA, 0);

.required-for {
  border: solid 1px $base-border-color;
  background-color: $base-bg-color;
}

.required-by {
  border: dashed 1px $base-border-color;
  background-color: $base-bg-color;
}

.required-item {
  border: solid 2px $base-border-color;
  background-color: darken($base-bg-color, 10);
  margin: 0;
  padding: 0 2px;
}

.reorder-flash {
  border-color: darken($card-border-color, 50);
  background-color: darken($card-bg-color, 10);
}

// .done-cb {

//   label {
//     padding-left: 10px;
//   }

//   input[type=checkbox] {
//     // margin-left: 10px;
//   }

// }

.checkbox-inline.no-indent,
.checkbox-inline.no-indent+.checkbox-inline.no-indent {
  margin-left: 0;
  margin-right: 10px;
}
.checkbox-inline.no-indent:last-child {
  margin-right: 0;
}
*/