{% extends "base-layout.njk" %}

{% block title %}SBPP{% endblock %}

{% block content %}

<div class="container-fluid main">

  <div id="storage" class="row">

    <div class="col-sm-1 nopadding col-sm-offset-2 a1">
      <div id="storage-Factory" class="area">

        <p class="name">Factory</p>

        <div class="card">
          111
        </div>

        <div class="card">
          222
        </div>

      </div>
    </div>

    <div class="col-sm-1 nopadding a1">
      <div id="storage-HardwareStore" class="area">

        <p class="name">Hardware Store</p>

        <div class="card">
          111
        </div>

        <div class="card">
          222
        </div>

      </div>
    </div>

  </div> <!-- row -->

  <div id="work" class="row">

    <div class="col-sm-1 nopadding">
      <div id="producer-list" class="area">

        <p class="name">Factory</p>

        <div class="card">
          111
        </div>

        <div class="card">
          222
        </div>

        <p class="name">Hardware Store</p>

        <div class="card">
          333
        </div>

        <div class="card">
          444
        </div>

      </div>
    </div>

    <div class="col-sm-1 nopadding">
      <div id="shopping-list" class="area">

        <p class="name">Shopping List</p>

        <div class="card">
          111
        </div>

        <div class="card">
          222
        </div>

      </div>
    </div>

    <div id="todo-list">

      <div class="col-sm-1 nopadding">
        <div id="todo-list-Factory" class="area">

          <p class="name">Factory</p>

          <div class="card blocked">
            111
          </div>

          <div class="card unblocked">
            Chemicals
          </div>

        </div>
      </div>

      <div class="col-sm-1 nopadding">
        <div id="todo-list-HardwareStore" class="area">

        <p class="name">Hardware Store</p>

        <div class="card building">
          111
        </div>

        <div class="card done">
          222
        </div>

        </div>
      </div>

    </div>

    <!--
    <div id="producerList"><div id="producerList-Factory"></div><div id="producerList-HardwareStore"></div></div>
    <div id="shoppingList"></div>
    <div id="todoList"><div id="todoList-Factory"></div><div id="todoList-HardwareStore"></div></div>
    -->
  </div> <!-- row -->

</div> <!-- .container -->

<!-- TODO: Remove sortable files from source -->
<script src="static/lib/jquery-ui/jquery-ui.min.js"></script>

<script src="static/lib/barn/barn.min.js"></script>

<script src="static/js/sc-data.js"></script>
<script src="static/js/sbpp.js"></script>

{% endblock %}