{% extends "base-layout.njk" %}

{% block title %}My Title{% endblock %}

{% block content %}

<div class="container">

  <div class="row">

    <div class="col-sm-4">

      <div id="producers">
      </div> <!-- #producers -->

    </div>

    <div class="col-sm-4">

      <div id="wish-list">
        <p>Wish List</p>
        <ul>
        </ul> <!-- #wish-list -->
      </div>

    </div>

    <div class="col-sm-4">

      <div id="todo-list">
        <p>To Do List</p>
        <ul>
        </ul>
      </div> <!-- #todo-list -->

    </div>

  </div> <!-- row -->

</div> <!-- .container -->

<!-- TODO: Remove sortable files from source -->
<!-- <script src="static/lib/jquery-sortable/jquery-sortable.min.js"></script> -->
<script src="static/lib/jquery-ui/jquery-ui.min.js"></script>

<script src="static/js/sc-data.js"></script>
<script src="static/js/sbpp.js"></script>


<!-- <script>

  $(document).ready(function() {

    $(function  () {
      $('ol.sortable').sortable();
    });

  });

</script>
 -->
{% endblock %}