{% extends "base-layout.njk" %}

{% block title %}SBPP{% endblock %}

{% block content %}

<div class="container-fluid main">

  <div id="storage" class="row">
    <!--
    <div id="storage-Factory"></div><div id="storage-HardwareStore"></div>
    -->
  </div> <!-- row -->

  <div id="work" class="row">

    <div id="producerList" class="">
    </div>
    <!--
    <div id="producerList"><div id="producerList-Factory"></div><div id="producerList-HardwareStore"></div></div>
    <div id="shoppingList"></div>
    <div id="todoList"><div id="todoList-Factory"></div><div id="todoList-HardwareStore"></div></div>
    -->
  </div> <!-- row -->

</div> <!-- .container -->

<!-- TODO: Remove sortable files from source -->
<script src="static/lib/jquery-ui/jquery-ui.min.js"></script>

<script src="static/lib/barn/barn.min.js"></script>

<script src="static/js/sc-data.js"></script>
<script src="static/js/sbpp.js"></script>

{% endblock %}