<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

  <title>{% block title %} {% endblock %}</title>

  <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/main.css">

  <script src="static/lib/jquery/jquery-3.1.0.min.js"></script>

  </head>

  <body>

  Nav

  {% block content %} {% endblock %}

  Footer goes here?

</body>

</html>